body{
  background-color:#f6fad6;
}
.flower_base{
  width:1000px;
  height:700px;
}
.smoke{
  display:none;
}
.phase3{
  display:none;
}
#petal1{
  display:none;
}
#petal2{
  display:none;
}
#petal3{
  display:none;
}
  #ball{
    position:relative;
    right:700px;
    top:550px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:#59b0f5;
    opacity:0.7;
    margin-left: 800px;
    animation:move 5s infinite;
    z-index:1;
  }
  #ball1{
    position:relative;
    right:700px;
    top:550px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:#59b0f5;
    opacity:0.7;
    margin-left: 800px;
    animation: move1 5s infinite;
    z-index:1;
  }
  #ball2{
    position:relative;
    right:750px;
    top:550px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:#59b0f5;
    opacity:0.7;
    margin-left: 800px;
    animation: move2 5s infinite;
    z-index:1;
  }
  #sugar{
    position:relative;
    right:750px;
    top:580px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:white;
    opacity:0.7;
    margin-left: 800px;
    animation: move3 5s infinite;
    z-index:1;
  }
  #sugar1{
    position:relative;
    right:750px;
    top:550px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:white;
    opacity:0.7;
    margin-left: 800px;
    animation: move4 5s infinite;
    z-index:1;
  }
  #sugar2{
    position:relative;
    right:750px;
    top:580px;
    width:20px;
    height:20px;
    border-radius: 50%;
    background-color:white;
    opacity:0.7;
    margin-left: 800px;
    animation: move5 5s infinite;
    z-index:1;
  }
  @keyframes move6 {
    0%{
    top:-250px;right:300px;
    }
    20%{
      top:-255px;right:280px;
    }
    50%{
      top:-260px;right:300px;
    }
    100%{
      top:-255px;right:300px;
    }
  }
  @keyframes move5 {
    0%{
    top:-230px;right:290px;
    }
    20%{
      top:-235px;right:320px;
    }
    30%{
      top:-230px;right:310px;
    }
    50%{
      top:-225px;right:300px;
    }
    80%{
      top:-220px;right:290px;
    }
    100%{
      top:-235px;right:280px;
    }
  }
  @keyframes move4 {
    0%{
    top:-230px;right:350px;
    }
    20%{
      top:-235px;right:340px;
    }
    30%{
      top:-230px;right:330px;
    }
    50%{
      top:-235px;right:320px;
    }
    80%{
      top:-230px;right:330px;
    }
    100%{
      top:-235px;right:340px;
    }
  }
  @keyframes move3 {
    0%{
    top:-150px;right:350px;
    }
    20%{
      top:-145px;right:370px;
    }
    30%{
      top:-150px;right:370px;
    }
    50%{
      top:-145px;right:350px;
    }
    80%{
      top:-140px;right:350px;
    }
    100%{
      top:-135px;right:350px;
    }
  }
  @keyframes move2 {
    0%{
    top:-170px;right:350px;
    }
    20%{
      top:-175px;right:370px;
    }
    30%{
      top:-180px;right:370px;
    }
    50%{
      top:-170px;right:380px;
    }
    80%{
      top:-175px;right:370px;
    }
    100%{
      top:-170px;right:360px;
    }
  }
  @keyframes move1 {
    0%{
    top:-180px;right:300px;
    }
    20%{
      top:-175px;right:320px;
    }
    50%{
      top:-170px;right:320px;
    }
    100%{
      top:-180px;right:300px;
    }
  }
  @keyframes move{
    0%{
    top:-120px;right:300px;
    }
    20%{
      top:-115px;right:280px;
    }
    50%{
      top:-110px;right:300px;
    }
    100%{
      top:-120px;right:300px;
    }
  }
  @media(max-width: 1200px){
    .phase3{
      display:none;
    }
    .smoke{
      display:none;
    }
    #petal1{
      display:none;
    }
    #petal2{
      display:none;
    }
    #petal3{
      display:none;
    }
#ball{
  display:none;
}
#ball1{
  display:none;
}
#ball2{
  display:none;
}
#sugar{
  display:none;
}
#sugar1{
  display:none;
}
#sugar2{
  display:none;
}
#pink{
  position:relative;
  right:700px;
  top:550px;
  width:35px;
  height:35px;
  border-radius: 50%;
  background-color:#ff8fd1;
  opacity:0.4;
  margin-left: 800px;
  animation:move 5s infinite;
  z-index:1;
}
#pink1{
  position:relative;
  right:700px;
  top:550px;
  width:35px;
  height:35px;
  border-radius: 50%;
  background-color:#ff8fd1;
  opacity:0.4;
  margin-left: 800px;
  animation: move1 5s infinite;
  z-index:1;
}
#pink2{
  position:relative;
  right:700px;
  top:550px;
  width:35px;
  height:35px;
  border-radius: 50%;
  background-color:#ff8fd1;
  opacity:0.4;
  margin-left: 800px;
  animation: move2 5s infinite;
  z-index:1;
}
#c1{
  position:relative;
  right:750px;
  top:550px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color:#ff8fd1;
  opacity:0.8;
  margin-left: 800px;
  animation: move6 5s infinite;
  z-index:1;
}
#c2{
  position:relative;
  right:750px;
  top:550px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color:#ff8fd1;
  opacity:0.8;
  margin-left: 800px;
  animation: move4 5s infinite;
  z-index:1;
}
#c3{
  position:relative;
  right:750px;
  top:550px;
  width:20px;
  height:20px;
  border-radius: 50%;
  background-color:#ff8fd1;
  opacity:0.8;
  margin-left: 800px;
  animation: move5 5s infinite;
  z-index:1;
}
  }

 @media  (max-width: 1150px){
.flower_base{
  display:none;
}
.smoke{
  display:none;
}
  .phase3{
    position:relative;
width:980px;
height:755px;
bottom:55px;
right:-15px;
display:block;
z-index:10;
  }
  @@keyframes animate {
    from{
      transform:rotate(0deg);
    }
    to{
      transform:rotate(20deg);
    }
  }
  #petal1{
    position:relative;
width:450px;
height:570px;
bottom:760px;
right:-280px;
display:block;
z-index:8;
  animation: animate 1s linear infinite;
  }
  #petal2{
    position:relative;
width:1000px;
height:720px;
bottom:1370px;
right:-10px;
display:block;
z-index:5;
  animation: animate 1s linear infinite;
  }
  #petal3{
    position:relative;
width:1000px;
height:740px;
bottom:2090px;
right:60px;
display:block;
z-index:5;
  animation: animate 1s linear infinite;
  }
  #pink{
    display:none;
  }
  #pink1{
    display:none;
  }
  #pink2{
    display:none;
  }
  #c1{
    display:none;
  }
  #c2{
    display:none;
  }
  #c3{
    display:none;
  }
  #ball{
    display:none;
  }
  #ball1{
    display:none;
  }
  #ball2{
    display:none;
  }
  #sugar{
    display:none;
  }
  #sugar1{
    display:none;
  }
  #sugar2{
    display:none;
  }
}

 @media  (max-width: 1100px){
   body{
     background-image: url("smoke.png");

   }

   .flower_base{
     display:block;
     width:1000px;
     height:700px;
     z-index:5;
   }
     .phase3{
      display:none;
     }
     #petal1{
    display:none;
     }
     #petal2{
    display:none;
     }
     #petal3{
  display:none;
     }
     #pink{
       display:none;
     }
     #pink1{
       display:none;
     }
     #pink2{
       display:none;
     }
     #c1{
       display:none;
     }
     #c2{
       display:none;
     }
     #c3{
       display:none;
     }
     #ball{
       display:none;
     }
     #ball1{
       display:none;
     }
     #ball2{
       display:none;
     }
     #sugar{
       display:none;
     }
     #sugar1{
       display:none;
     }
     #sugar2{
       display:none;
     }
   }
 }
